body {
    background: url('./imgs/tonsleyBuilding.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Helvetica, Arial, sans-serif;
    background-position: center center;
      
}
.login{
    background-color: #002F60;
    border: 5px;
    color: #ffd300;
    border-color: black;
    border-style: ridge;
    text-align: center;
}

#topBanner{
    background-color: #002F60;
    color: #f0f0f0;
    padding: 10px 5px 50px 10px;
    text-align: justify;
    align-items: center;
    justify-content: left;
    display: block;
    margin-top: -15px;
    margin-left: -10px;
    width:100vw;
    
}

#flindersLogo{
    width: 100px;
    display: block;
    float: left;
}
header{

}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -240px; 
}

h2{
    display: flex;
    justify-content: center;

}

#loginForm{
    font-weight: bold;
    padding: 30px;
    margin: 60px auto;
    width: 400px;
    background-color:ghostwhite;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    margin: 0;
}

.form-card {

    min-height: 250px;
    text-align: left;

}

.form-item{

    padding: 10px;
    margin: 5px 10px 5px 0px;
    border: 1px solid #373434;
    border-radius: 5px;
    display: block;
    width: 300px;
    box-sizing: border-box;
    font-size: 16px;
}

#submitButtons{
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.button{
    padding: 10px 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffD300;
    border: none;
    border-radius: 5px;
    background-color: #002F60;
   
}
#loginButton{
    margin-right: 25px;  
}

#showPassword{
    font-weight: 500;
    font-size: 15px;
}