:root {
  background-color: #bbb;
}

body {
  display: grid;
  grid-template-columns: 15% 5% 75% 5%;
}

.text-input {
  background-color: #aaa;
}

#sidebar {
  position: static;
  background-color: gray;
}

a {
  color: black;
}

.skill-btn {
  padding: 10px;
  background-color: yellow;
}

#academic-skills {
  background-color: chocolate;
  max-width: 25%;
}