html,body{
    margin: 0; /* remove default margin around edge of browser*/
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.header{
    background-color:#002F60;
    display: flex; /* required for justify content*/
    justify-content: space-between; /* evenly spaces everything within header*/
    align-items: middle;
    padding:20px 20px 20px 0px;
}
/* this encases just the usericon, username and logout button*/
.userprofile{
    display:flex;
    align-items: center; /* display:flex and align item:right to make everything centered vertically*/
    gap:15px; /* gap between the user icon, username and logout button*/
     /* margin on right so log out button isnt on edge of screen*/
    color:white;
}
/* Flinder logo*/
#logo{
    padding-top:10px;
    padding-left:10px;
    width:200px;
}
/* User icon image*/
#userIcon{
    height:50px;
    width:50px;
}

/* navigation bar formating*/
.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0px;
    width: 220px;
    background-color: #002F60;
    position:absolute;
    height:100vh;

}
/* show which page your currently on*/
li a.active{
    background-color: #FFD300;
    color: black;
}
/* for every list item thats a hyperlink*/
li a{
    display: block; /* makes the whole area of the list item clickable*/
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}
/* change colour when hovering over*/
li a:hover{
    background-color: #FFD300;
    color:black;
}
/* container holding each graph*/
.container{
    margin-left: 220px; /* prevent items from going behind navbar*/
    display:grid;       /* setup grid layout*/
    grid-template-columns: 1fr 1fr;   /* grid template: 2 columns wide*/
    grid-template-rows: 1fr 1fr;
    padding:20px; /* gap between all other elements*/
    gap:20px;   /* gap between each box on grid*/
    height:100vh;   /* height of each item*/
    background-color: #FFD300
    
}
/* formatting for divs within conatainer*/
.container > div{
    background-color:white;
    padding:20px;
}
/* formatting for div used for the body of each page (every page except the dashboard*/
.body{
    margin-left: 220px;
    padding:20px;
}
.body > div{
    background-color:white;
    text-align: left;
    padding:20px;
    height:100vh;
}
#users > a{
    text-align:right;
    padding-right:20px;
    padding-bottom: 20px;
}
#services > a{
    text-align:right;
    padding-right:20px;
    padding-bottom: 20px;
}
table,th,tr {
    border-color: lightgrey;
    width: 60%;
    margin: 20px auto;
}
th, td {
    padding: 10px;
    text-align: left;
}
th {
    background-color: #002F60;
    color:white;
}
.active {
    color: green;
    font-weight: bold;
}
.inactive {
    color: red;
    font-weight: bold;
}
h3{
    text-align: center;
}