body {
    font-family: Helvetica, Arial, sans-serif;

}
.login{
    background-color: #002F60;
    border: 5px;
    color: #ffd300;
    border-color: black;
    border-style: ridge;
    text-align: center;
}

#topBanner{
    background-color: #002F60;
    color: #000000;
    padding: 10px 5px 10px 10px;
    text-align: center;
    align-items: center;
    justify-content: left;
    display: block;
    margin-top: -15px;
    margin-left: -10px;
    width: 100%;
    height: 100vh;
    max-height: 130px;
    position: sticky;
    top: 0;
}

#flindersLogo{
    display: block;
    float: left;
}

#imgLogo{
    height: 120px;
    width: 400px;
}

#title{
    width: 90%; 
    text-align: center;    
    color: #ffD300;
    padding-top: 80px;

}

#UserDetails{
  position: absolute;
   top: 90px;
   right: 106px;
   color: #ffD300;
}


#logoutButton{
    position: absolute;
    right: 10px;
    top: 106px;
    align-items: center;
}

#logButton{
    background-color: #ffD300;
    padding: 10px 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #002F60;
    border: none;
    border-radius: 5px;
    cursor: pointer;  
}
#logButton:hover{
    background-color: #555555;
    color: white;
}

.sidebar {
  list-style-type: none;
  margin-left: -10px;
  margin-top: -0px;
  padding: 0;
  width: 200px;
  background-color: #002F60;
  height: 100vh;
  position: fixed;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: #ffD300;
  padding: 15px 16px;
  text-decoration: none;
  font-weight: bold;
}

/* Change the link and background color on hover */
.sidebar a:hover {
  background-color: #555555;
  color: white;
}

.sidebar .active {
  background-color: #ffD300;
  color: #002F60;
}

main{
    margin-left: 200px;
}
#header{
    text-align: center;
}

#profileLink{
    color: #ffD300;
    text-decoration: none;
}
#submitButtons{
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.button{
    padding: 10px 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffD300;
    border: none;
    border-radius: 5px;
    background-color: #002F60;
    cursor: pointer;   
}
table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
  overflow-wrap: break-word;
  word-break: keep-all;
  max-width: 50px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #002F60;
  color: #ffD300;
}
#searchInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}
#skillsTable {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}
#searchInput {
  width: 150px;
}

.pagination {
  margin-top: 20px;
}
.pagination a {
  margin: 0 5px;
  padding: 5px 10px;
  background: #eee;
  text-decoration: none;
  border-radius: 3px;
  color: #333;
}
.pagination a.active {
  background: #0078d4;
  color: #fff;
}