html,body{
    margin: 0; /* remove default margin around edge of browser*/
    padding: 0;
}

.header{
    background-color:#002F60;
    display: flex; /* required for justify content*/
    justify-content: space-between; /* evenly spaces everything within header*/
    align-items: middle;
    padding:20px 20px 20px 0px;
}
/* this encases just the usericon, username and logout button*/
.userprofile{
    display:flex;
    align-items: center; /* display:flex and align item:right to make everything centered vertically*/
    gap:15px; /* gap between the user icon, username and logout button*/
     /* margin on right so log out button isnt on edge of screen*/
    color:white;
}
/* Flinder logo*/
#logo{
    padding-top:10px;
    padding-left:10px;
    width:200px;
}
/* User icon image*/
#userIcon{
    height:50px;
    width:50px;
}

/* navigation bar formating*/
.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0px;
    width: 220px;
    background-color: #002F60;
    position:absolute;
    min-height:100%;

}
/* show which page your currently on*/
li a.active{
    background-color: #FFD300;
    color: black;
}
/* for every list item thats a hyperlink*/
li a{
    display: block; /* makes the whole area of the list item clickable*/
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}
/* change colour when hovering over*/
li a:hover{
    background-color: #FFD300;
    color:black;
}
/* container holding each graph*/
.container{
    margin-left: 220px; /* prevent items from going behind navbar*/
    margin-right: 220px; /* prevent items from going all the way to the right*/
    display:grid;       /* setup grid layout*/
    grid-template-columns: auto;   /* grid template: 2 columns wide*/
    padding:20px; /* gap between all other elements*/
    gap:20px;   /* gap between each box on grid*/
    height: 150px;   /* height of each item*/
    
}
/* formatting for divs within conatainer*/
.container > div{
    background-color:grey;
    text-align:left;
    position: relative;
    
}

.button {
    position: absolute;
    bottom: 0;
    left: 0;
}
